<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  colors="true"
  cacheDirectory=".phpunit.cache"
>
  <coverage
    includeUncoveredFiles="true"
    pathCoverage="false"
  >
    <report>
      <clover outputFile=".phpunit.cache/coverage.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
    <testsuite name="Icons">
      <directory suffix="Test.php">./packages/icons/tests</directory>
    </testsuite>
    <testsuite name="Secrets">
      <directory suffix="Test.php">./packages/secrets/tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <server name="APP_ENV" value="testing"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
      <directory suffix=".php">./packages/icons/src</directory>
      <directory suffix=".php">./packages/secrets/src</directory>
    </include>
    <exclude>
      <directory suffix=".php">./packages/icons/src/Contracts</directory>
      <directory suffix=".php">./packages/secrets/src/Contracts</directory>
    </exclude>
  </source>
</phpunit>
