@tailwind base;
@tailwind components;
@tailwind utilities;

@import "container";
@import "buttons";
@import "github";

.form-group {
    @apply mb-4;
}

label {
    @apply inline-block mb-2;
}

.form-control {
    @apply block w-full px-3 py-1 leading-normal text-gray-600 bg-white rounded min-h-8;
}

.svg-inline {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    fill: currentColor;
}
